.lifting {
    padding: 2rem 25rem;
}

.theme-pic {
    margin-bottom: 0.5rem;
}

p {
    line-height: 1.5rem;
}

.intro {
    margin: 0;
    line-height: normal;
}

@media screen and (max-width: 995px) {
    .lifting {
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 425px) {
    .lifting {
        padding: 1rem 1rem 2rem 1rem;
        font-size: 0.9rem;
    }

    .theme-pic {
        width: 90px;
        height: 90px;
    }

    .footer {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 354px) {
    .lifting {
        padding: 1rem 0.1rem 2rem 0.1rem;
        font-size: 0.8rem;
    }

    .footer {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 294px) {
    .lifting {
        font-size: 0.5rem;
    }

    .footer {
        font-size: 0.5rem;
    }
}