* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    direction: rtl;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(39, 26, 72);
    /* background-image: -webkit-linear-gradient(top, rgb(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -moz-linear-gradient(top, rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -ms-linear-gradient(top,  rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: -o-linear-gradient(top,  rgba(146, 255, 255, 0.55), rgb(116, 206, 236));
    background-image: linear-gradient(top, rgba(146, 255, 255, 0.55), rgb(116, 206, 236)); */
    font-size: 18px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    overflow-x: hidden;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 2px solid gray;
}

.bio-pic {
    width: 260px;
    height: 167px;
}

.name {
    margin-right: 20px;
    font-size: 2rem;
}

.bio {
    padding: 0 25rem;
    margin-bottom: 1rem;
    word-wrap: break-word;
}

button {
    margin-bottom: 1rem;
    background-color: rgb(39, 26, 72);
    border: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.inner-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.section {
    margin: 0 2rem;
}

.section-pic {
    width: 150px;
    height: 150px;
}

.theme-pic {
    width: 150px;
    height: 150px;
}

a, a:visited {
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(231, 233, 95);
    /* color: #f1356d; */
    cursor: pointer;
}

.go-home, .go-home:visited {
    color: rgb(241, 53, 109);
    /* color: rgb(9, 197, 19); */
}

.footer {
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 1225px) {
    .bio {
        padding: 0 10rem;
    }

    .wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 995px) {
    .bio {
        padding: 0 10rem;
    }

    .wrapper {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        padding: 0;
    }

    .inner-wrapper {
        width: 84%;
        word-wrap: break-word;
    }

    .section {
        width: 21%;
        margin: 0;
        padding: 0;
    }

    .section-pic {
        margin: 0;
    }

    .section a {
        margin: 0;
    }
}

@media screen and (max-width: 895px) {
    .section {
        margin: 0 0.7rem;
    }
}

@media screen and (max-width: 867px) {
    .wrapper {
        padding: 0 0.5rem;
    }
}

@media screen and (max-width: 787px) {
    .section {
        width: 30%;
        margin: 0 0.5rem;
    }
}

@media screen and (max-width: 685px) {
    .header {
        flex-direction: column;
    }

    .bio-pic {
        width: 140px;
        height: 90px;
    }

    .name {
        margin: 0;
        font-size: 1.5rem;
    }

    .bio {
        padding: 0 1rem;
        font-size: 0.9rem;
    }

    .footer {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 606px) {
    .section {
        margin: 0 1rem;
    }
}

@media screen and (max-width: 533px) {
    .section {
        margin: 0 1.3rem;
    }
}

@media screen and (max-width: 510px) {
    .section {
        font-size: 0.9rem;
    }

    .section-pic {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 410px) {
    .section {
        width: 50%;
        margin: 0;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 285px) {
    .bio {
        padding: 0 0.2rem;
        margin: 0;
        font-size: 0.8rem;
    }

    button {
        margin: 0;
    }

    .wrapper {
        padding: 0 0.1rem;
    }

    .inner-wrapper {
        width: 100%;
    }

    .footer {
        font-size: 0.8rem;
    }
}